In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import pickle
%run ../conf.py
%run ../run_xgboost.py

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 2500)

In [14]:
train = pd.read_csv(conf.basepath+'fulltrain.csv', dtype=pickle.load(open(conf.dtypesf, 'rb')))

In [18]:
#train.loc[:, ['VAR_0200', 'VAR_0241', 'VAR_0237', 'VAR_0274']]
train.loc[(train.VAR_0241>94000)&(train.VAR_0241<94100), ['VAR_0200', 'VAR_0241', 'VAR_0242', 'VAR_0212']]

                   VAR_0200  VAR_0241  VAR_0242     VAR_0212
638               SUNNYVALE     94086       204  94086653926
1028       SO SAN FRANCISCO     94080       160          NaN
3598               PACIFICA     94044        84  94044350287
3893              SUNNYVALE     94086       360  94086872038
4106           REDWOOD CITY     94061       229  94061373809
4184           REDWOOD CITY     94061       260  94061166602
5074               PACIFICA     94044       278  94044152937
6050      SOUTH SAN FRANCIS     94080       199          NaN
6629          MOUNTAIN VIEW     94040        40  94040255230
7338    SOUTH SAN FRANCISCO     94080       240  94080561939
...                     ...       ...       ...          ...
136788             PACIFICA     94044       300  94044421451
137831             PACIFICA     94044       335  94044434020
138559            DALY CITY     94015       131  94015451158
138566         REDWOOD CITY     94065       198  94065228953
138897           BURLINGAME     94010       354  94010351601
139097     SO SAN FRANCISCO     94080        66          NaN
139500           BURLINGAME     94010       145  94010281308
141534            SAN BRUNO     94066       164  94066194600
143220            SUNNYVALE     94086       146  94086780099
144361            DALY CITY     94014       212  94014232901

[223 rows x 4 columns]

In [30]:
a = train[['VAR_0200', 'VAR_0241']].groupby(['VAR_0241']).VAR_0200.nunique()

In [36]:
a[a>8]

VAR_0241
28086    10
43160    10
53209     9
92407     9
94080     9
Name: VAR_0200, dtype: int64

In [37]:
train.loc[train.VAR_0241==94080, ['VAR_0200', 'VAR_0241']]

                   VAR_0200  VAR_0241
1028       SO SAN FRANCISCO     94080
6050      SOUTH SAN FRANCIS     94080
7338    SOUTH SAN FRANCISCO     94080
8954    SOUTH SAN FRANCISCO     94080
22510      SO SAN FRANCISCO     94080
24452   SOUTH SAN FRANCISCO     94080
24486      SO.SAN FRANCISCO     94080
28805     SOUTH SAN FRANCIS     94080
33465      SO SAN FRANCISCO     94080
35694                 SO SF     94080
...                     ...       ...
97267     SOUTH SAN FRANCIS     94080
101413     SO SAN FRANCISCO     94080
104687     SO SAN FRANCISCO     94080
110251                  SSF     94080
122044  SOUTH SAN FRANCISCO     94080
122193     SO SAN FRANCISCO     94080
129925    SOUTH SAN FRANCIS     94080
131743    SO. SAN FRANCISCO     94080
133508    SOUTH SAN FRANCIS     94080
139097     SO SAN FRANCISCO     94080

[42 rows x 2 columns]